<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Root"/>
    <add key="EmployeesApi" value="/haus/employees"/>
    <add key="ItemsApi" value="/haus/items"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>